#top {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
	height: 90%;
    background-color: white;
}

#bottom {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	height: 10%;
    background-color: #CA1D5F;
}
